* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* barra de navegacion */
.navbar-collapse {
  justify-content: end;
}

/* hero  */
.hero {
  min-height: 450px;
  text-align: center;
}

.hero-principal h1 {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 2.5rem;
  font-style: normal;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: slategrey;
}
.hero-principal {
  padding: 3rem;
}

.hero-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 1rem;
}

/* queries */

@media screen and (min-width: 700px) {
  .hero .hero-inferior .hero-image-dos {
    max-width: 600px;
  }
}
